<section class="section container-fluid">

    <div class="scrollable">
        <div class="scrollable-content section">
            <h1 class="page-header">Movie details</h1>
<!-- Zamień ten przycisk na wyszukanie info o filmie-->           
            <div ng-controller="movieDetails" data-ng-init="search()">
                <!--<form ng-submit="search()">
                    <input type="text" ng-model="filtertext" placeholder="Write something..." />
                    <input type="submit" value="Search" />
                </form><br/><br/>-->
                <ul>
                    <li ng-repeat="movie in moviedetails">
                        <h1>{{ movie.title }} </h1>
                        <br/><b>Year of release: {{ movie.year }} </b>
                        <ul>
                            <img src="{{ movie.posters.original }}"/>
                            <li>Duration:{{ movie.runtime }}</li>
                            <li>Cast:
                                <ul>
                                    <li ng-repeat="actor in movie.abridged_cast">
                                        {{ actor.name }} as {{ actor.characters }}
                                    </li>
                                </ul>
                            </li>
                            <li>Audience Rating: {{ movie.ratings.audience_score }} %</li>
                            <li>Movie Year: {{ movie.year }}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
