<h1 class="app-name">Home Media Manager</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">Home Media Manager</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
     <!-- <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>-->
      <a class="list-group-item" href="#/medialist">Media list <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/addmedia">Add media<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/typeslist">Types list<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/addtype">Add type<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/friends">Friends<i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/addfriend">Add friend<i class="fa fa-chevron-right pull-right"></i></a>
        <!--<a class="list-group-item" href="#/moviedata">Movie details<i class="fa fa-chevron-right pull-right"></i></a>-->
        <a class="list-group-item" href="#/fightgame">Fight game<i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>